{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <h3>{{ object.name }}</h3>
    <p>Recipe by {{ object.author.name }}</p>
    <p>Here are the ingredients for {{ object.name }}:</p>
    <ul>
    {% for ingredient in object.ingredients.all %}
        <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
    {% endfor %}
    </ul>
    <a href="../recipe/{{ pk }}/add_image">Add image</a>
    {% for image in object.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
{% endblock %}